@model Projeto.Models.Reviews

@{
    ViewData["Title"] = "Delete";
}

<head>
    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css>

</head>
<style>

    h1 {
        font-family: Brush Script MT;
        font-size: 50px;
        color: #eb3434;
    }

    h3 {
        font-size: 20px;
    }


    .textA {
        color: #858282;
        text-decoration: none;
    }
</style>
<h1>Eliminar</h1>

<h3>Tem a certeza que quer eliminar esta categoria?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Image != null)
            {

                    <img src="~/Imagens/@Html.DisplayFor(modelItem => Model.Image)"
                         title="@Html.DisplayFor(modelItem => Model.Title)"
                         width="125px" max-height="100px" />
                <br />
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @for (int i = 0; i < Model.Rating; i++)
            {
                <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
            }
            @if (Model.Rating < 5)
            {
                @for (int i = Model.Rating; i < 5; i++)
                {
                    <i class="fa fa-star" aria-hidden="true" style="color: lightgrey;"></i>
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReviewId" />
        <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
        <br />
    </form>
</div>
<br />
<div>
    <button class="btn btn-outline-secondary" onclick="window.location.href='@Url.Action("Index")'"><i class="fa fa-arrow-left"></i> Voltar à lista</button>
</div>
